html{
    width:1920px;
    height:auto;
    margin:auto;
}

#best{
    max-width:1180px;
    height:2273px;
    margin:auto;
    background-color:#fff;
    position:relative;
}
#best>ul{
    max-width:1180px;
    margin:auto;
    height:402px;
}
#best li{
    float:left;
    text-align:center;
    letter-spacing:1px;
    margin:0 20px;
}
#best li:first-child{
    padding-left:20px;
}
#best li>p{
    padding-top:15px;
}
#best li i{
    font-size:13px;
    line-height:38px;
    color:#00a651;
}
#best li i[class="red"]{
    color:#ff0000;
}
#best>.one{
    margin-top:100px;
}
#best>.two{
    margin:100px 0;
}
#best>.three{
    margin-bottom:100px;
}

.page{
    position:absolute;
    bottom:0;
    left:0;
    transform:translateX(570px);
    font-size:20px;
    color:#ccc;
    margin-bottom:140px;
}
.page>a{
    margin:0px 5px;
}
.page>.active{
    color:#333;
    text-decoration:underline;
    text-underline-offset:2px;
}