html{width:1920px; margin:auto;}
body{
    width:100%;
}
header{
    width:100%;
    height:auto;
    margin:auto;
    background:url("./image/bg.png") center;
    background-size:cover;
    position:relative;
}

header>.wrap{
    max-width:1180px;
    height:820px;
    position:relative;
}

.banner{
    width:1180px;
    text-align:center;
    position:absolute;
    left:50%;
    bottom:45px;
    transform:translateX(-50%);
}
.banner>a{
    font-size:28px;
    font-weight:bold;
    color:#fff;
    letter-spacing:1px;
}
.banner>a>img{
    vertical-align:middle;
    width:40px;
    margin-bottom:5px;
}
.banner>a:hover{
    text-decoration:underline;
    text-underline-offset:6px;
    text-decoration-thickness:3px;
    text-decoration-color:#f1f1f1;
    text-decoration-style:wavy;
    transition:all 0.5s;
}

.icon{
    max-width:1180px;
    margin:auto;
}
.sns{
    width:36px;
    font-size:22px;
    color:#fff;
    text-align:center;
    position:absolute;
    left:30px; bottom:40px;
}
.sns>.blog{
    font-family:Arial;
    font-size:25px;
    font-weight:bold;
    margin-bottom:20px;
}
.sns>.instagram{
    margin-top:20px;
}
.sns>.blog:hover{
    width:36px;
    height:36px;
    background-color:#03c75a;
    border-radius:50%;
    cursor:pointer;
}
.sns>.facebook:hover{
    width:36px;
    height:36px;
    background-color:#1877f2;
    border-radius:50%;
    cursor:pointer;
}
.sns>.instagram:hover{
    width:36px;
    height:36px;
    background:linear-gradient(to bottom, #4d64cd, #a535b6 30%, #d62e7c 60%, #f87a2b 80%);
    border-radius:50%;
    cursor:pointer;
}

#best{
    width:100%;
    height:1400px;
    margin:auto;
    background:url("./image/bg_03.png") center;
    background-size:cover;
    position:relative;
}
#best>.title{
    max-width:1180px;
    height:60px;
    margin:auto;
}
#best>.title>p{
    width:210px;
    height:60px;
    font-size:20px;
    font-weight:bold;
    text-align:center;
    letter-spacing:1px;
    line-height:60px;
    background-color:#fce2d9;
    border-radius:5px;
    margin-left:70px;
    transform:translateY(80%);
}

#best>.best_sellers{
    width:100%;
    height:1291px;
    margin:auto;
    margin-top:49px;
    border-bottom:1px solid #ccc;
    text-align:center;
}
.best_sellers>.box_1{
    width:300px;
    margin:auto;
    padding-top:59px;
    position:relative;
}
.best_sellers>.box_2{
    max-width:1180px;
    margin:auto;
}
.best_sellers>.box_2 a{
    text-align:center;
}
.best_sellers>.box_2>.best_2{
    width:300px;
    margin-right:124px;
    margin-left:100px;
    float:left;
    position:relative;
}
.best_sellers>.box_2>.more{
    width:105px;
    height:42px;
    float:left;
    margin-top:100px;
    margin-right:151px;
}
.best_sellers>.box_2>.best_3{
    width:300px;
    float:left;
    position:relative;
}
.best_sellers>.box_3{
    width:300px;
    margin:auto;
    text-align:center;
    position:relative;
}
.best_sellers p{
    color:#555;
    letter-spacing:1px;
    padding-top:20px;
}
.overlay{
    width:300px;
    height:300px;
    background-color:rgba(0,0,0,0.5);
    position:absolute;
    top:0; left:0;
    border-radius:50%;
    opacity:0;
    visibility:hidden;
    transition:all 1s;
    cursor:pointer;
    font-weight:normal;
}
.box_1 .overlay_1{
    margin-top:59px;
}

.box_1 .overlay_1>p{
    color:#fff;
    letter-spacing:1px;
    padding-top:114px;
}
.box_1:hover>.overlay_1{
    opacity:1;
    visibility:visible;
}
.best_2 .overlay_2>p{
    color:#fff;
    letter-spacing:1px;
    padding-top:114px;
}
.best_2:hover>.overlay_2{
    opacity:1;
    visibility:visible;
}
.best_3 .overlay_3>p{
    color:#fff;
    letter-spacing:1px;
    padding-top:114px;
}
.best_3:hover>.overlay_3{
    opacity:1;
    visibility:visible;
}

.box_3 .overlay_4>p{
    color:#fff;
    letter-spacing:1px;
    padding-top:114px;
}
.box_3:hover>.overlay_4{
    opacity:1;
    visibility:visible;
}

#video{
    width:100%;
    height:auto;
    margin:auto;
    background-color:#fff;
    text-align:center;
}
#video>.container{
    max-width:1182px;
    height:575px;
    margin:auto;
    border:1px solid #ccc;
    border-top:0; border-bottom:0;
}
#video video{
    width:884px;
    height:499px;
    padding-top:70px;
    margin:auto;
}

#about{
    width:100%;
    min-width:1180px;
    height:660px;
    background:url("image/main_.png") center;
}
#about>.title{
    text-align:center;
    letter-spacing:2px;
}
#about>.title>h1{
    font-size:40px;
    font-style:italic;
    padding-top:130px;
    padding-bottom:95px;
}
#about>.title>p{
    font-size:24px;
    color:#555;
    line-height:34px;
    padding-bottom:70px;
}
#about>.contents{
    width:570px;
    height:121px;
    text-align:center;
    margin:auto;
}
#about>.contents>ul{
    width:120px;
    height:120px;
    display:block;
    float:left;
    border-radius:50%;
    background-color:#fff;
    cursor:pointer;
    position:relative;
}
#about>.contents>ul:nth-child(2){
    margin:0 30px;
}
#about>.contents>ul:nth-child(3){
    margin-right:30px;
}
#about>.contents li{
    margin-top:31px;
}
#about>.contents p{
    width:120px;
    height:120px;
    background-color:#fff;
    border-radius:50%;
    position:absolute;
    top:0; 
    left:0;
    opacity:0;
    visibility:hidden;
    transition:all 0.5s;
}
#about>.contents a{
    font-size:20px;
    color:#f26f3b;
    display:block;
    margin-top:43px;
}
#about>.contents a[class="dog"]{
    margin-top:33px;
}
#about>.contents>ul:hover p{
    opacity:1;
    visibility:visible;
}